{% extends "_base.html" %}
{% block extra_style %}
  .closing-slide {
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
  }
  .closing-slide .heading {
    font-size: 96px;
    margin-bottom: 20px;
  }
{% endblock %}
{% block content %}
<div class="slide closing-slide" {{ accent_style|safe }}>
  <div class="accent-bar"></div>
  <div class="heading">{{ heading }}</div>
  {% if subheading %}<div class="subheading">{{ subheading }}</div>{% endif %}
</div>
{% endblock %}
